{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{%- assign animation_row = 1 -%}
{%- assign drawer_position = 'right' -%}
{% if logo_alignment == 'center' %}
  {%- assign drawer_position = 'left' -%}
{% endif %}

<div id="NavDrawer" class="drawer drawer--{{ drawer_position }}">
  <div class="drawer__fixed-header drawer__fixed-header--full">
    <div class="drawer__header drawer__header--full appear-animation appear-delay-{{ animation_row }}">
      <div class="h2 drawer__title">
        {% include 'currency-picker', picker_id: 'drawer', currency_class: 'currency-picker--drawer' %}
      </div>
      <div class="drawer__close">
        <button type="button" class="drawer__close-button js-drawer-close">
          {% include 'icon-close' %}
          <span class="icon__fallback-text">{% comment %}ly_i18n_replace_for_[ 'general.drawers.close_menu' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.drawers.close_menu' | t }}{% endcapture %}{% include 'ly-static-string' with '15007349' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
        </button>
      </div>
    </div>
  </div>
  <div class="drawer__inner">

    <ul class="mobile-nav{% if settings.type_navigation_style == 'heading' %} mobile-nav--heading-style{% endif %}" role="navigation" aria-label="Primary">
      {% for link in main_menu.links %}
        {%- assign animation_row = animation_row | plus: 1 -%}
        {%- assign child_list_handle = link.url | handleize | append: forloop.index -%}
        {%- assign has_dropdown = false -%}
        {% if link.links != blank %}
          {%- assign has_dropdown = true -%}
        {% endif %}

        <li class="mobile-nav__item appear-animation appear-delay-{{ animation_row }}">
          {% if has_dropdown %}
            <div class="mobile-nav__has-sublist">
              {% if link.url == '#' %}
                <button type="button"
                  aria-controls="Linklist-{{ child_list_handle }}"
                  {% if link.active or link.child_active %}aria-open="true"{% endif %}
                  class="mobile-nav__link--button mobile-nav__link--top-level collapsible-trigger collapsible--auto-height {% if link.active or link.child_active %}is-open{% endif %}">
                  <span class="mobile-nav__faux-link" {% if link.active %}data-active="true"{% endif %}>
                    {% comment %}ly_code_replace_for_[ link.title ]_begin{% endcomment %}{% include 'ly-title' with link %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
                  </span>
                  <div class="mobile-nav__toggle">
                    <span class="faux-button">
                      {% include 'collapsible-icons' %}
                    </span>
                  </div>
                </button>
              {% else %}
                <a href="{{ link.url }}"
                  class="mobile-nav__link mobile-nav__link--top-level"
                  id="Label-{{ child_list_handle }}"
                  {% if link.active %}data-active="true"{% endif %}>
                  {% comment %}ly_code_replace_for_[ link.title ]_begin{% endcomment %}{% include 'ly-title' with link %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
                </a>
                <div class="mobile-nav__toggle">
                  <button type="button"
                    aria-controls="Linklist-{{ child_list_handle }}"
                    {% if link.active or link.child_active %}aria-open="true"{% endif %}
                    class="collapsible-trigger collapsible--auto-height {% if link.active or link.child_active %}is-open{% endif %}">
                    {% include 'collapsible-icons' %}
                  </button>
                </div>
              {% endif %}
            </div>
          {% else %}
            <a href="{{ link.url }}" class="mobile-nav__link mobile-nav__link--top-level" {% if link.active %}data-active="true"{% endif %}>{% comment %}ly_code_replace_for_[ link.title ]_begin{% endcomment %}{% include 'ly-title' with link %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a>
          {% endif %}

          {% if has_dropdown %}
            <div id="Linklist-{{ child_list_handle }}"
              class="mobile-nav__sublist collapsible-content collapsible-content--all {% if link.active or link.child_active %}is-open{% endif %}"
              aria-labelledby="Label-{{ child_list_handle }}"
              {% if link.active or link.child_active %}style="height: auto;"{% endif %}>
              <div class="collapsible-content__inner">
                <ul class="mobile-nav__sublist">
                  {% for childlink in link.links %}
                    {%- assign has_sub_dropdown = false -%}
                    {%- assign grand_child_list_handle = childlink.url | handleize | append: forloop.index -%}
                    {% if childlink.links != blank %}
                      {%- assign has_sub_dropdown = true -%}
                    {% endif %}

                    <li class="mobile-nav__item">
                      <div class="mobile-nav__child-item">
                        {% if childlink.url == '#' and has_sub_dropdown %}
                          <button type="button"
                          aria-controls="Sublinklist-{{ child_list_handle }}-{{ grand_child_list_handle }}"
                          {% if childlink.active or childlink.child_active %}aria-open="true"{% endif %}
                          class="mobile-nav__link--button collapsible-trigger {% if childlink.active or childlink.child_active %}is-open{% endif %}">
                            <span class="mobile-nav__faux-link" {% if childlink.active %}data-active="true"{% endif %}>{% comment %}ly_code_replace_for_[ childlink.title | escape ]_begin{% endcomment %}{% include 'ly-title' with childlink %}{{ ly_translation | escape }}{% comment %}ly_code_replace_end{% endcomment %}</span>
                            {% include 'collapsible-icons-alt' %}
                          </button>
                        {% else %}
                          <a href="{{ childlink.url }}"
                            class="mobile-nav__link"
                            id="Sublabel-{{ grand_child_list_handle }}"
                            {% if childlink.active %}data-active="true"{% endif %}>
                            {% comment %}ly_code_replace_for_[ childlink.title | escape ]_begin{% endcomment %}{% include 'ly-title' with childlink %}{{ ly_translation | escape }}{% comment %}ly_code_replace_end{% endcomment %}
                          </a>
                        {% endif %}
                        {% if childlink.url != '#' and has_sub_dropdown %}
                          <button type="button"
                            aria-controls="Sublinklist-{{ child_list_handle }}-{{ grand_child_list_handle }}"
                            class="collapsible-trigger {% if childlink.active or childlink.child_active %}is-open{% endif %}">
                            {% include 'collapsible-icons-alt' %}
                          </button>
                        {% endif %}
                      </div>

                      {% if has_sub_dropdown %}
                        <div
                          id="Sublinklist-{{ child_list_handle }}-{{ grand_child_list_handle }}"
                          aria-labelledby="Sublabel-{{ grand_child_list_handle }}"
                          class="mobile-nav__sublist collapsible-content collapsible-content--all {% if childlink.active or childlink.child_active %}is-open{% endif %}"
                          {% if childlink.active or childlink.child_active %}style="height: auto;"{% endif %}>
                          <div class="collapsible-content__inner">
                            <ul class="mobile-nav__grandchildlist">
                              {% for grandchildlink in childlink.links %}
                                <li class="mobile-nav__item">
                                  <a href="{{ grandchildlink.url }}" class="mobile-nav__link" {% if grandchildlink.active %}data-active="true"{% endif %}>
                                    {% comment %}ly_code_replace_for_[ grandchildlink.title ]_begin{% endcomment %}{% include 'ly-title' with grandchildlink %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
                                  </a>
                                </li>
                              {% endfor %}
                            </ul>
                          </div>
                        </div>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          {% endif %}
        </li>
      {% endfor %}

      {%- assign have_secondary_list = false -%}
      {% if section.settings.toolbar_menu != blank or shop.customer_accounts_enabled %}
        {%- assign have_secondary_list = true -%}
      {% endif %}

      {% if have_secondary_list %}
        <li class="mobile-nav__item mobile-nav__item--secondary">
          <div class="grid">
            {% if section.settings.toolbar_menu != blank %}
              {% for link in toolbar_menu.links %}
                {%- assign animation_row = animation_row | plus: 1 -%}
                <div class="grid__item one-half appear-animation appear-delay-{{ animation_row }} medium-up--hide">
                  <a href="{{ link.url }}" class="mobile-nav__link">{% comment %}ly_code_replace_for_[ link.title ]_begin{% endcomment %}{% include 'ly-title' with link %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a>
                </div>
              {% endfor %}
            {% endif %}

            {% capture the_snippet_auth %}{% include 'socialshopwave-widget-auth' %}{% endcapture %}
            {% if the_snippet_auth contains 'Liquid error' %}
            {% if shop.customer_accounts_enabled %}
              {%- assign animation_row = animation_row | plus: 1 -%}
              <div class="grid__item one-half appear-animation appear-delay-{{ animation_row }}">
                <a href="/account" class="mobile-nav__link">
                  {% if customer %}
                    {% comment %}ly_i18n_replace_for_[ 'layout.customer.account' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.customer.account' | t }}{% endcapture %}{% include 'ly-static-string' with '15007350' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
                  {% else %}
                    {% comment %}ly_i18n_replace_for_[ 'layout.customer.log_in' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.customer.log_in' | t }}{% endcapture %}{% include 'ly-static-string' with '15007351' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
                  {% endif %}
                </a>
              </div>
            {% endif %}
            {% else %}
            {% if shop.customer_accounts_enabled %}
            <div class="grid__item one-half appear-animation appear-delay-{{ animation_row }}">
              {% if customer %}
              <a class="mobile-nav__link" tabindex="-1" href="/account">{% comment %}ly_i18n_replace_for_[ 'socialshopwave.my_orders' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'socialshopwave.my_orders' | t }}{% endcapture %}{% include 'ly-static-string' with '15007352' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
              <a class="mobile-nav__link" tabindex="-1" href="/pages/profile-edit">{% comment %}ly_i18n_replace_for_[ 'socialshopwave.edit_profile' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'socialshopwave.edit_profile' | t }}{% endcapture %}{% include 'ly-static-string' with '15007353' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
              <a class="mobile-nav__link" id="customer_logout_link" tabindex="-1" href="/account/logout">{% comment %}ly_i18n_replace_for_[ 'socialshopwave.logout' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'socialshopwave.logout' | t }}{% endcapture %}{% include 'ly-static-string' with '15007354' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
              {% else %}
              <a class="mobile-nav__link" id="customer_login_link" href="javascript:void(0);" data-toggle="ssw-modal" data-target="#login_modal" onclick="trackShopStats('login_popup_view', 'all')">{% comment %}ly_i18n_replace_for_[ 'socialshopwave.log_in' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'socialshopwave.log_in' | t }}{% endcapture %}{% include 'ly-static-string' with '15007355' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
              <a class="mobile-nav__link" id="customer_register_link" data-toggle="ssw-modal" data-target="#signup_modal" href="javascript:void(0);" onclick="trackShopStats('login_popup_view', 'all')">{% comment %}ly_i18n_replace_for_[ 'socialshopwave.sign_up' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'socialshopwave.sign_up' | t }}{% endcapture %}{% include 'ly-static-string' with '15007356' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
              {% endif %}
            </div>
            {% endif %}
            {% endif %}

          </div>
        </li>
      {% endif %}
    </ul>

    {%- assign animation_row = animation_row | plus: 1 -%}
    <ul class="mobile-nav__social appear-animation appear-delay-{{ animation_row }}">
      {% if settings.social_facebook_link != blank %}
        <li class="mobile-nav__social-item">
          <a target="_blank" href="{{ settings.social_facebook_link }}" title="{% comment %}ly_i18n_replace_for_[ 'layout.footer.social_platform' | t: name: langify_shop_name, platform: 'Facebook' ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.footer.social_platform' | t: name: langify_shop_name, platform: 'Facebook' }}{% endcapture %}{% include 'ly-static-string' with '15015638' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = langify_shop_name %}{% assign ly_template = ly_template | replace: '[[name]]', replacement %}{% include 'ly-static-string' with '15015636' %}{% if ly_translation %}{% assign replacement = ly_translation %}{% else %}{% assign replacement = 'Facebook ' %}{% endif %}{% assign ly_template = ly_template | replace: '[[platform]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}">
            {% include 'icon-facebook' %}
            <span class="icon__fallback-text"><ly-as-15007340>Facebook</ly-as-15007340></span>
          </a>
        </li>
      {% endif %}
      {% if settings.social_twitter_link != blank %}
        <li class="mobile-nav__social-item">
          <a target="_blank" href="{{ settings.social_twitter_link }}" title="{% comment %}ly_i18n_replace_for_[ 'layout.footer.social_platform' | t: name: langify_shop_name, platform: 'Twitter' ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.footer.social_platform' | t: name: langify_shop_name, platform: 'Twitter' }}{% endcapture %}{% include 'ly-static-string' with '15015642' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = langify_shop_name %}{% assign ly_template = ly_template | replace: '[[name]]', replacement %}{% include 'ly-static-string' with '15015641' %}{% if ly_translation %}{% assign replacement = ly_translation %}{% else %}{% assign replacement = 'Twitter ' %}{% endif %}{% assign ly_template = ly_template | replace: '[[platform]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}">
            {% include 'icon-twitter' %}
            <span class="icon__fallback-text"><ly-as-15007341>Twitter</ly-as-15007341></span>
          </a>
        </li>
      {% endif %}
      {% if settings.social_pinterest_link != blank %}
        <li class="mobile-nav__social-item">
          <a target="_blank" href="{{ settings.social_pinterest_link }}" title="{% comment %}ly_i18n_replace_for_[ 'layout.footer.social_platform' | t: name: langify_shop_name, platform: 'Pinterest' ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.footer.social_platform' | t: name: langify_shop_name, platform: 'Pinterest' }}{% endcapture %}{% include 'ly-static-string' with '15015645' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = langify_shop_name %}{% assign ly_template = ly_template | replace: '[[name]]', replacement %}{% include 'ly-static-string' with '15015644' %}{% if ly_translation %}{% assign replacement = ly_translation %}{% else %}{% assign replacement = 'Pinterest ' %}{% endif %}{% assign ly_template = ly_template | replace: '[[platform]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}">
            {% include 'icon-pinterest' %}
            <span class="icon__fallback-text"><ly-as-15007342>Pinterest</ly-as-15007342></span>
          </a>
        </li>
      {% endif %}
      {% if settings.social_instagram_link != blank %}
        <li class="mobile-nav__social-item">
          <a target="_blank" href="{{ settings.social_instagram_link }}" title="{% comment %}ly_i18n_replace_for_[ 'layout.footer.social_platform' | t: name: langify_shop_name, platform: 'Instagram' ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.footer.social_platform' | t: name: langify_shop_name, platform: 'Instagram' }}{% endcapture %}{% include 'ly-static-string' with '15015648' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = langify_shop_name %}{% assign ly_template = ly_template | replace: '[[name]]', replacement %}{% include 'ly-static-string' with '15015647' %}{% if ly_translation %}{% assign replacement = ly_translation %}{% else %}{% assign replacement = 'Instagram ' %}{% endif %}{% assign ly_template = ly_template | replace: '[[platform]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}">
            {% include 'icon-instagram' %}
            <span class="icon__fallback-text"><ly-as-15007343>Instagram</ly-as-15007343></span>
          </a>
        </li>
      {% endif %}
      {% if settings.social_snapchat_link != blank %}
        <li class="mobile-nav__social-item">
          <a target="_blank" href="{{ settings.social_snapchat_link }}" title="{% comment %}ly_i18n_replace_for_[ 'layout.footer.social_platform' | t: name: langify_shop_name, platform: 'Snapchat' ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.footer.social_platform' | t: name: langify_shop_name, platform: 'Snapchat' }}{% endcapture %}{% include 'ly-static-string' with '15015651' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = langify_shop_name %}{% assign ly_template = ly_template | replace: '[[name]]', replacement %}{% include 'ly-static-string' with '15015650' %}{% if ly_translation %}{% assign replacement = ly_translation %}{% else %}{% assign replacement = 'Snapchat ' %}{% endif %}{% assign ly_template = ly_template | replace: '[[platform]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}">
            {% include 'icon-snapchat' %}
            <span class="icon__fallback-text"><ly-as-15007344>Snapchap</ly-as-15007344></span>
          </a>
        </li>
      {% endif %}
      {% if settings.social_tumblr_link != blank %}
        <li class="mobile-nav__social-item">
          <a target="_blank" href="{{ settings.social_tumblr_link }}" title="{% comment %}ly_i18n_replace_for_[ 'layout.footer.social_platform' | t: name: langify_shop_name, platform: 'Tumblr' ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.footer.social_platform' | t: name: langify_shop_name, platform: 'Tumblr' }}{% endcapture %}{% include 'ly-static-string' with '15015654' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = langify_shop_name %}{% assign ly_template = ly_template | replace: '[[name]]', replacement %}{% include 'ly-static-string' with '15015653' %}{% if ly_translation %}{% assign replacement = ly_translation %}{% else %}{% assign replacement = 'Tumblr ' %}{% endif %}{% assign ly_template = ly_template | replace: '[[platform]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}">
            {% include 'icon-tumblr' %}
            <span class="icon__fallback-text"><ly-as-15007345>Tumblr</ly-as-15007345></span>
          </a>
        </li>
      {% endif %}
      {% if settings.social_linkedin_link != blank %}
        <li class="mobile-nav__social-item">
          <a target="_blank" href="{{ settings.social_linkedin_link }}" title="{% comment %}ly_i18n_replace_for_[ 'layout.footer.social_platform' | t: name: langify_shop_name, platform: 'LinkedIn' ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.footer.social_platform' | t: name: langify_shop_name, platform: 'LinkedIn' }}{% endcapture %}{% include 'ly-static-string' with '15015657' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = langify_shop_name %}{% assign ly_template = ly_template | replace: '[[name]]', replacement %}{% include 'ly-static-string' with '15015656' %}{% if ly_translation %}{% assign replacement = ly_translation %}{% else %}{% assign replacement = 'LinkedIn ' %}{% endif %}{% assign ly_template = ly_template | replace: '[[platform]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}">
            {% include 'icon-linkedin' %}
            <span class="icon__fallback-text"><ly-as-15007346>LinkedIn</ly-as-15007346></span>
          </a>
        </li>
      {% endif %}
      {% if settings.social_youtube_link != blank %}
        <li class="mobile-nav__social-item">
          <a target="_blank" href="{{ settings.social_youtube_link }}" title="{% comment %}ly_i18n_replace_for_[ 'layout.footer.social_platform' | t: name: langify_shop_name, platform: 'YouTube' ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.footer.social_platform' | t: name: langify_shop_name, platform: 'YouTube' }}{% endcapture %}{% include 'ly-static-string' with '15015660' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = langify_shop_name %}{% assign ly_template = ly_template | replace: '[[name]]', replacement %}{% include 'ly-static-string' with '15015659' %}{% if ly_translation %}{% assign replacement = ly_translation %}{% else %}{% assign replacement = 'YouTube ' %}{% endif %}{% assign ly_template = ly_template | replace: '[[platform]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}">
            {% include 'icon-youtube' %}
            <span class="icon__fallback-text"><ly-as-15007347>YouTube</ly-as-15007347></span>
          </a>
        </li>
      {% endif %}
      {% if settings.social_vimeo_link != blank %}
        <li class="mobile-nav__social-item">
          <a target="_blank" href="{{ settings.social_vimeo_link }}" title="{% comment %}ly_i18n_replace_for_[ 'layout.footer.social_platform' | t: name: langify_shop_name, platform: 'Vimeo' ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.footer.social_platform' | t: name: langify_shop_name, platform: 'Vimeo' }}{% endcapture %}{% include 'ly-static-string' with '15015663' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = langify_shop_name %}{% assign ly_template = ly_template | replace: '[[name]]', replacement %}{% include 'ly-static-string' with '15015662' %}{% if ly_translation %}{% assign replacement = ly_translation %}{% else %}{% assign replacement = 'Vimeo ' %}{% endif %}{% assign ly_template = ly_template | replace: '[[platform]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}">
            {% include 'icon-vimeo' %}
            <span class="icon__fallback-text"><ly-as-15007348>Vimeo</ly-as-15007348></span>
          </a>
        </li>
      {% endif %}
    </ul>

  </div>
</div>
