{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{%- assign blockId = block.id -%}
{% if product %}
  {%- assign blockId = block.id | append: product.id -%}
{% endif %}
<div class="ruk_rating_snippet" data-sku="{{ product.handle }};{{ product.variants | map: 'sku' | join: ';' }};{{ product.variants | map: 'id' | join: ';' }}"></div> 

{%- assign has_custom_tabs = false -%}
{% for tag in product.tags %}
  {% if tag contains '_tab' %}
    {%- assign has_custom_tabs = true -%}
  {% endif %}
{% endfor %}

{%- assign reviews_as_tab = false -%}
{% if settings.enable_product_reviews and settings.reviews_layout == 'expandable' %}
  {%- assign reviews_as_tab = true -%}
{% endif %}

{% if settings.product_content_1 != blank or settings.product_content_2 != blank or settings.product_content_3 != blank or settings.product_contact or reviews_as_tab or has_custom_tabs %}
  <div class="collapsibles-wrapper collapsibles-wrapper--border-bottom">

    {% for tag in product.tags %}
      {% if tag contains '_tab' %}
        {%- assign include_page_handle = tag | split: '_' -%}
        {%- assign include_page = pages[include_page_handle.last] -%}
        {% if include_page.title != blank %}
          <button type="button" class="label collapsible-trigger collapsible-trigger-btn collapsible-trigger-btn--borders collapsible--auto-height" aria-controls="Product-content-{{ include_page_handle.last }}-{{ section_id }}">
            {% comment %}ly_code_replace_for_[ include_page.title ]_begin{% endcomment %}{% include 'ly-title' with include_page %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
            {% include 'collapsible-icons' %}
          </button>
          <div id="Product-content-{{ include_page_handle.last }}-{{ section_id }}" class="collapsible-content collapsible-content--all">
            <div class="collapsible-content__inner rte">
              {% comment %}ly_code_replace_for_[ include_page.content ]_begin{% endcomment %}{% include 'ly-content' with include_page %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
            </div>
          </div>
        {% endif %}
      {% endif %}
    {% endfor %}





    <button id="btn-desc" type="button" class="label collapsible-trigger collapsible-trigger-btn collapsible-trigger-btn--borders" aria-controls="Product-content-0-{{ section_id }}">
        <ly-as-15084498>Description</ly-as-15084498> {% include 'collapsible-icons' %}
       </button>


   
     <div id="Product-content-0-{{ section_id }}" class="collapsible-content collapsible-content--all">
        <div class="collapsible-content__inner rte">&nbsp;{% comment %}ly_code_replace_for_[ product.description ]_begin{% endcomment %}{% include 'ly-description' with product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
            {% if settings.sku_enable %}
            <p id="Sku-{{ section_id }}" class="product-single__sku">
              {% if current_variant.sku %}
             <sub style="float:right">{{ current_variant.sku }}</sub>   
              {% endif %}
            </p>
          {% endif %}
        </div>
      </div>


    {% if settings.product_content_1 != blank %}
      {% if settings.product_content_collapse_1 %}
        <button type="button" class="label collapsible-trigger collapsible-trigger-btn collapsible-trigger-btn--borders" aria-controls="Product-content-1-{{ section_id }}">
          {% comment %}ly_code_replace_for_[ pages[settings.product_content_1].title ]_begin{% endcomment %}{% include 'ly-title' with pages[settings.product_content_1] %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
          {% include 'collapsible-icons' %}
        </button>
      {% else %}
        <div class="label collapsible-trigger-btn collapsible-trigger-btn--borders">
          {% comment %}ly_code_replace_for_[ pages[settings.product_content_1].title ]_begin{% endcomment %}{% include 'ly-title' with pages[settings.product_content_1] %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
        </div>
      {% endif %}

      <div id="Product-content-1-{{ section_id }}" class="collapsible-content{% unless settings.product_content_collapse_1 %} collapsible-content--expanded{% else %} collapsible-content--all{% endunless %}">
        <div class="collapsible-content__inner rte">
          {% comment %}ly_code_replace_for_[ pages[settings.product_content_1].content ]_begin{% endcomment %}{% include 'ly-content' with pages[settings.product_content_1] %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
   
        </div>
      </div>
    {% endif %}
    {% if settings.product_content_2 != blank %}
      {% if settings.product_content_collapse_2 %}
        <button type="button" class="label collapsible-trigger collapsible-trigger-btn collapsible-trigger-btn--borders" aria-controls="Product-content-2-{{ section_id }}">
          {% comment %}ly_code_replace_for_[ pages[settings.product_content_2].title ]_begin{% endcomment %}{% include 'ly-title' with pages[settings.product_content_2] %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
          {% include 'collapsible-icons' %}
        </button>
      {% else %}
        <div class="label collapsible-trigger-btn collapsible-trigger-btn--borders">
          {% comment %}ly_code_replace_for_[ pages[settings.product_content_2].title ]_begin{% endcomment %}{% include 'ly-title' with pages[settings.product_content_2] %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
        </div>
      {% endif %}

      <div id="Product-content-2-{{ section_id }}" class="collapsible-content{% unless settings.product_content_collapse_2 %} collapsible-content--expanded{% else %} collapsible-content--all{% endunless %}">
        <div class="collapsible-content__inner rte">
          {% comment %}ly_code_replace_for_[ pages[settings.product_content_2].content ]_begin{% endcomment %}{% include 'ly-content' with pages[settings.product_content_2] %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
        </div>
      </div>
    {% endif %}
    {% if settings.product_content_3 != blank %}
      {% if settings.product_content_collapse_3 %}
        <button type="button" class="label collapsible-trigger collapsible-trigger-btn collapsible-trigger-btn--borders" aria-controls="Product-content-3-{{ section_id }}">
          {% comment %}ly_code_replace_for_[ pages[settings.product_content_3].title ]_begin{% endcomment %}{% include 'ly-title' with pages[settings.product_content_3] %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
          {% include 'collapsible-icons' %}
        </button>
      {% else %}
        <div class="label collapsible-trigger-btn collapsible-trigger-btn--borders">
          {% comment %}ly_code_replace_for_[ pages[settings.product_content_3].title ]_begin{% endcomment %}{% include 'ly-title' with pages[settings.product_content_3] %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
        </div>
      {% endif %}

      <div id="Product-content-3-{{ section_id }}" class="collapsible-content{% unless settings.product_content_collapse_3 %} collapsible-content--expanded{% else %} collapsible-content--all{% endunless %}">
        <div class="collapsible-content__inner rte">
          {% comment %}ly_code_replace_for_[ pages[settings.product_content_3].content ]_begin{% endcomment %}{% include 'ly-content' with pages[settings.product_content_3] %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
        </div>
      </div>
    {% endif %}

    {% if settings.product_contact %}
      {% form 'contact' %}
        <button type="button" class="label collapsible-trigger collapsible-trigger-btn collapsible-trigger-btn--borders" aria-controls="Product-content-4-{{ section_id }}">
          {% comment %}ly_new_settings_replace_for_[ settings.product_contact_title ]_begin{% endcomment %}{% assign language = cart.attributes["language"] %}{% if language == nil %}{% assign language = shop.metafields["languages"]["default"] %}{% endif %}{% assign namespace = language | append: "as" %}{% if shop.metafields[namespace]["id15007460"] %}{% assign ly_translation = shop.metafields[namespace]["id15007460"] %}{% else %}{% assign ly_translation = settings.product_contact_title %}{% endif %}{{ ly_translation }}{% comment %}ly_new_settings_replace_end{% endcomment %}
          {% include 'collapsible-icons' %}
        </button>

        <div id="Product-content-4-{{ section_id }}" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner rte">
            <div class="form-vertical">

              <input type="hidden" name="contact[product]" value="Product question for: {{ shop.secure_url }}/admin/products/{{ product.id }}">

              <div class="grid grid--small">
                <div class="grid__item medium-up--one-half">
                  <label for="ContactFormName-{{ blockId }}">{% comment %}ly_i18n_replace_for_[ 'contact.form.name' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'contact.form.name' | t }}{% endcapture %}{% include 'ly-static-string' with '15007462' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
                  <input type="text" id="ContactFormName-{{ blockId }}" class="input-full" name="contact[name]" autocapitalize="words" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}">
                </div>

                <div class="grid__item medium-up--one-half">
                  <label for="ContactFormEmail-{{ blockId }}">{% comment %}ly_i18n_replace_for_[ 'contact.form.email' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'contact.form.email' | t }}{% endcapture %}{% include 'ly-static-string' with '15007463' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
                  <input type="email" id="ContactFormEmail-{{ blockId }}" class="input-full" name="contact[email]" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
                </div>
              </div>

              {% if settings.product_contact_show_phone %}
                <label for="ContactFormPhone-{{ blockId }}">{% comment %}ly_i18n_replace_for_[ 'contact.form.phone' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'contact.form.phone' | t }}{% endcapture %}{% include 'ly-static-string' with '15007464' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
                <input type="tel" id="ContactFormPhone-{{ blockId }}" class="input-full" name="contact[phone]" pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}">
              {% endif %}

              <label for="ContactFormMessage-{{ blockId }}">{% comment %}ly_i18n_replace_for_[ 'contact.form.message' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'contact.form.message' | t }}{% endcapture %}{% include 'ly-static-string' with '15007465' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
              <textarea rows="5" id="ContactFormMessage-{{ blockId }}" class="input-full" name="contact[body]">{% if form.body %}{{ form.body }}{% endif %}</textarea>

              <button type="submit" class="btn">
                {% comment %}ly_i18n_replace_for_[ 'contact.form.send' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'contact.form.send' | t }}{% endcapture %}{% include 'ly-static-string' with '15007466' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
              </button>

            </div>
          </div>
        </div>

        {% if form.posted_successfully? %}
          <p class="note note--success">
            {% comment %}ly_i18n_replace_for_[ 'contact.form.post_success' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'contact.form.post_success' | t }}{% endcapture %}{% include 'ly-static-string' with '15007467' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
          </p>
        {% endif %}

        {% if form.product %}
          {{ form.errors | default_errors }}
        {% endif %}

      {% endform %}
    {% endif %}

    {% if reviews_as_tab %}
      <!-- <button type="button" class="label collapsible-trigger collapsible-trigger-btn collapsible-trigger-btn--borders collapsible--auto-height" aria-controls="Product-content-5-{{ section_id }}">
        <ly-as-15007461>Reviews</ly-as-15007461>
        {% include 'collapsible-icons' %}
      </button> -->

      <!-- <div id="Product-content-5-{{ section_id }}" class="collapsible-content collapsible-content--all">
        <div class="collapsible-content__inner product-reviews product-reviews--tab">

      <div id="ReviewsWidget-{{ section_id }}"></div>

<script>
    new ReviewsWidget('#ReviewsWidget-{{ section_id }}', {
        store: 'yogaclicks-store',
        widget: 'combined-widget',
        options: {
            types: 'product_review',
            per_page: 20, 
            product_review: {
                sku: '{{ product.handle }};{{ product.variants | map: 'sku' | join: ';' }};{{ product.variants | map: 'id' | join: ';' }}',
                enable_write_review:true,
                enable_smart_filters:false,
                enable_rating_filters:true,
                enable_toggle_filters:false,
                enable_social_sharing:false,
                enable_helpful:false,
                enable_featured_review_photos:true,
                enable_featured_social_photos:true,
                show_mention_text:true,
                show_dates:true,
                show_replies:true,
                show_avatars:true,
                show_photos:true,
                show_verify_status:true
            }

        },

        /* Customise Colours & Fonts */
        styles: {
            starColor:'#FFD700',
            textColor:'#333333',
            primaryColor:'#444444',
            neutralColor:'#ececec',
            backgroundColor:'#ffffff',
            formColor:'#dcdcdc',
            baseTextSize:'14px',
            review_style:'',
            header_style:''
        },

        /* Customise Buttons */
        buttons:{
            smart_filter:'solid',
            
            selected_page:'outline'
        },

        /* Avatar Settings */
        avatars:{
            enable_gravatar:true,
            gravatar_fallback:'identicon'
        },

        /* Other Options*/
        reviewsLogo:{
            show_logo:false,
            style:'black'
        }
    });
</script>
        </div>
      </div> -->
    {% endif %}

  </div>
{% endif %}
