



<style>h1{font-size:30px;margin-top:35px;text-align:center;text-transform:uppercase}h1.background{position:relative;z-index:1}h1.background:before{content:"";margin:0 auto;position:absolute;top:50%;left:0;right:0;bottom:0;width:100%;z-index:-1}h1.background span{background:#fff;padding:0 15px;font-size:1.3em}.post-picture-link:hover{opacity:.75!important}body{-webkit-animation:bugfix infinite 1s}@-webkit-keyframes bugfix{from,to{padding:0}}input[type=checkbox]{position:absolute;top:-9999px;left:-9999px}label{display:none;cursor:pointer;user-select:none}nav[role=custom-dropdown]{position:relative;height:29px}nav[role=custom-dropdown] a,nav[role=custom-dropdown] label{color:#444;text-decoration:none;font-size:11px;font-weight:800}nav[role=custom-dropdown] ul{padding:0;margin:0 auto;width:100%;list-style:none}nav[role=custom-dropdown] ul>li{float:left;padding:.3em .55em;width:10.9%;background-color:#eee;text-align:center;cursor:pointer}@media (max-width:728px){.maxmo{width:100%!important}}@media screen and (max-width:1200px){body,html{margin:0}nav[role=custom-dropdown]{width:100%!important}.Bluenav{height:auto!important}nav[role=custom-dropdown] ul{display:none;height:100%}nav[role=custom-dropdown] label{position:relative;display:block;width:100%;min-height:2.25em;padding:.45em;font-size:16px;color:#444;margin:0;border:.15em solid rgba(60,60,60,.2);background-color:#eee}nav[role=custom-dropdown] label:after{position:absolute;right:.25em;top:-5px;content:"\2261";font-size:1.8em}nav[role=custom-dropdown] input[type=checkbox]:checked~label:after{color:#FFF}nav[role=custom-dropdown] input[type=checkbox]:checked~ul{display:block}nav[role=custom-dropdown] input[type=checkbox]:checked~ul>li{width:100%;text-align:center}nav[role=custom-dropdown] input[type=checkbox]:checked~ul>li:after{position:absolute;right:.25em;content:"\203A";font:700 1.4em sans-serif}}.title-sep-container-right{flex-grow:1;-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg)}.fusion-title .title-sep-container{position:relative;height:6px;-ms-flex-grow:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1}.title-sep-container-left{flex-grow:1}.title-sep-container-left,.title-sep-container-right{background-position:right center;background-repeat:no-repeat;border:none!important;height:40px!important}.Bluenav{width:100%;background-color:#eee;margin-bottom:7px;height:50px}

.template-blog .blog-posts {

margin: auto;
max-width: 1200px;

}
.template-blog .post:first-child {

padding-top: 25px;
margin: 0;
padding-bottom: 80px;
border-top: 0;

}
.template-blog .post {

text-align: center;
margin: 0;
padding-bottom: 80px;
max-width: 400px;
float: left;
padding-top: 25px;

}
.template-blog .post-head {

position: relative;
padding: 0 10px;
margin: 0 0 15px;

}
.template-blog .post-picture {

margin: 15px 0;
position: relative;

}
.template-article .post-title, .template-blog .post-title {

font-size: 22px;
text-transform: uppercase;
margin: 0 0 10px;

}
.template-article .post-body, .template-blog .post-body {

margin: 0 0 25px;

}
.template-blog .blog-posts .buttons {

margin: 0 0 45px;

}

.template-blog .post-picture {

margin: 15px 0;
position: relative;

}
.template-blog .post-picture .post-date-wrap {

position: absolute;
top: 0;
right: 0;
left: 0;
z-index: 1;
text-align: center;

}


.template-article .post-date, .template-blog .post-date {

font-size: 13px;
padding: 8px 16px;
background: rgba(51,51,51,.8);

}
.template-article .post-date, .template-blog .go-to-blog-post, .template-blog .post-date {

color: #fff;
line-height: 1;
font-family: Arvo,sans-serif;
display: inline-block;
text-transform: uppercase;

}
.template-article .post-date, .template-blog .post-date {

font-size: 13px;

}
.template-article .post-date, .template-blog .go-to-blog-post, .template-blog .post-date {

color: #fff;
line-height: 1;
font-family: Arvo,sans-serif;
text-transform: uppercase;

}
.template-blog .go-to-blog-post {

letter-spacing: .4px;
font-size: 12px;
padding: 10px 30px;
background: #333;

}








</style>
<div class="Bluenav">
  <nav  role="custom-dropdown" style="width:1160px; margin:0 auto;margin-top:3px;line-height: 1">
    <input type="checkbox" id="button">
    <label for="button" onclick></label>
    <ul>
          <li><a href="/pages/blog">BLOG<br class="hidden-lg" />HOME </a></li>
            <li><a href="/blogs/benefits-of-yoga">BENEFITS OF<br class="hidden-lg" /> YOGA</a></li>
                  <li><a href="/blogs/events-and-retreats">EVENTS &amp;<br class="hidden-lg" /> RETREATS</a></li>
       <li><a href="/blogs/product-guides">PRODUCT<br class="hidden-lg" /> GUIDES</a></li>
                <li><a href="/blogs/types-of-yoga">TYPES OF<br class="hidden-lg" /> YOGA</a></li>

      

   
            <li><a href="/blogs/yoga-faqs">YOGA <br class="hidden-lg" />FAQS</a></li>
            <li><a href="/blogs/yoga-practice">YOGA <br class="hidden-lg" />PRACTICE</a></li>
         <li><a href="/blogs/yoga-quotes">YOGA  <br class="hidden-lg"/>QUOTES</a></li>
               <li><a href="/blogs/yoga-community">YOGA  <br class="hidden-lg"/>COMMUNITY</a></li>
    </ul></nav>

    </div>

<div class="page-body" >

 <h1 class="background"><span>{{ blog.title }}</span></h1>


 {% if blog.title == "Events & retreats" %}
<div style="width: 800px;margin:0 auto;text-align: center"><br />
 Would you like to list your Event or Retreat on Yogaclicks.com, <br />Email us on <a href="mailto:Events@yogaclicks.com">Events@yogaclicks.com</a> with all the details and images and we will do our best to list it!
</div>

 {% endif %}

  <div class="blog-posts" style="  display:                 flex;
  display:                 -webkit-flex; /* Safari 8 */
  flex-wrap:               wrap;
  -webkit-flex-wrap:       wrap;         /* Safari 8 */
  justify-content:         center;
  -webkit-justify-content: center;       /* Safari 8 */">



 
    {% for article in blog.articles %}
    <div class="post">
      <div class="post-head">
        {% if article.image.src == blank %}
          <div class="post-date-wrap">
            <time class="post-date" datetime="{{ article.created_at | date: '%Y-%m-%d' }}">
              <span class="post-day">{{ article.created_at | date: '%d' }}</span>
              <span class="post-month">{{ article.created_at | date: '%B' }}</span>
              <span class="post-year">{{ article.created_at | date: '%Y' }}</span>
            </time>  
          </div>
        {% endif %}  
        
        {% if article.image.src != blank %}
          <div class="post-picture">
            <div class="post-date-wrap">
              <time class="post-date" datetime="{{ article.created_at | date: '%Y-%m-%d' }}">
                <span class="post-day">{{ article.created_at | date: '%d' }}</span>
                <span class="post-month">{{ article.created_at | date: '%B' }}</span>
                <span class="post-year">{{ article.created_at | date: '%Y' }}</span>
              </time>  
            </div>            
            <a class="post-picture-link" href="{{ article.url }}" title="{{ article.title }}">
              <img src="{{ article.image.src | img_url: '1024x1024' }}" alt="{{ article.image.alt }}">
            </a>
          </div>
        {% endif %}    
        <h2 class="post-title">
          <a class="post-title-link" href="{{ article.url }}">{{ article.title }}</a>
        </h2>   
      </div>
      <div class="post-body rte">
        {{ article.excerpt | truncate: 200  }}
      </div>
      <div class="buttons">
        <a class="go-to-blog-post" href="{{ article.url }}">Read More</a>
      </div>
      <div class="additional-post-links">
        {% if blog.comments_enabled? %}
          {% capture comment_text %}{{ 'article.comments.comment' | t }}{% endcapture %}
          {% capture comments_text %}{{ 'article.comments.comments' | t }}{% endcapture %}
          <a href="{{ article.url }}#comments" class="comments-count">{{ article.comments_count }} {{ article.comments_count | pluralize: comment_text, comments_text }}</a>
        {% endif %}      
      </div>
    </div>
    {% endfor %}

  </div>





  
<br style="clear:bloth" /><br><br>
  
</div>



