
<hiddenonapp></hiddenonapp>
<style> .mapicon2{width:120px;margin:0 auto; display:block;}.grid figure{
position:relative;
float:left;
overflow:hidden;
margin:10px 1%;
min-width:320px;
max-width:480px;width:28%;
background:#3085a3;
text-align:center;
cursor:pointer;}.grid figure img{
position:relative;
display:block;
min-height:100%;
max-width:100%;
opacity:0.8;}.grid figure figcaption{
padding:2em!important;
text-transform:uppercase;
font-size:1.25em;
-webkit-backface-visibility:hidden;
backface-visibility:hidden;}.grid figure figcaption::before,
.grid figure figcaption::after{
pointer-events:none;}.grid figure figcaption,
.grid figure figcaption > a{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;}@media screen and (max-width:50em){
.content{
padding:0 10px;
text-align:center;}
.grid figure{
display:inline-block;
float:none;
margin:10px auto;
width:100%;}}
figure.effect-oscar{
background:-webkit-linear-gradient(45deg, #22682a 0%, #9b4a1b 40%, #3a342a 100%);
background:linear-gradient(45deg, #22682a 0%,#9b4a1b 40%,#3a342a 100%);}figure.effect-oscar img{
opacity:0.9;
-webkit-transition:opacity 0.35s;
transition:opacity 0.35s;}figure.effect-oscar figcaption{
padding:2 2.5em;
background-color:rgba(255,255,255,0.15);
-webkit-transition:background-color 0.35s;
transition:background-color 0.35s; color:white;} figure.effect-oscar figcaption h2{ font-size:28px;text-shadow:2px 4px 3px rgba(0,0,0,0.3); color:white;}figure.effect-oscar figcaption::before{
position:absolute;
top:30px;
right:30px;
bottom:30px;
left:30px;
border:1px solid #fff;
content:'';}figure.effect-oscar h2{
margin:20% 0 10px 0!important;
-webkit-transition:-webkit-transform 0.35s;
transition:transform 0.35s;
-webkit-transform:translate3d(0,100%,0);
transform:translate3d(0,100%,0);}figure.effect-oscar figcaption::before,
figure.effect-oscar p{
opacity:0;
-webkit-transition:opacity 0.35s, -webkit-transform 0.35s;
transition:opacity 0.35s, transform 0.35s;
-webkit-transform:scale(0);
transform:scale(0); color:white!important;}figure.effect-oscar:hover h2{
-webkit-transform:translate3d(0,0,0);
transform:translate3d(0,0,0);text-shadow:none!important;}figure.effect-oscar:hover figcaption::before,
figure.effect-oscar:hover p{
opacity:1;
-webkit-transform:scale(1);
transform:scale(1);
font-size:16px;
padding-top:15px!important;}figure.effect-oscar:hover figcaption{
background-color:rgba(58,52,42,0);}figure.effect-oscar:hover img{
opacity:0.4;} .count{ font-size:46px!important;} .mapicon{ width:40px;margin:0 auto;display:block} .AboutUSs{max-width:1032px!important;font-weight:100!important;font-size:14px!important}.FoldorOverGrid .FoldorOverGrid2-1x{display:block;width:60%;float:left;padding:20px}.FoldorOverGrid .FoldorOverGrid2-2x{display:block;width:40%;float:left}.logos{padding:15px}@media (max-width:769px ) { .FoldorOverGrid .FoldorOverGrid2-1x{width:100%!important;}.FoldorOverGrid4x{ margin:0 .5% 4%!important;}.AboutUSs{font-weight:200!important;
font-size:16px!important;}}@media (max-width:768px){ .HeaderWhite{ display:none;}} @media (min-width:768px){ .hiddenman{ display:none;}}.Midtexts{ text-align:center;max-width:1000px; margin:0 auto;border:1px solid black;padding:30px;} .welcomef{font-size:26px;font-weight:800} .othdiv12{text-align:center;margin:0 auto;max-width:630px;padding-bottom:10px} .othdiv13{text-align:center;margin:0 auto;max-width:1200px;padding-bottom:10px} .HeaderWhite span{
font-size:6.5vmin;}.HeaderWhite{ text-align:center; z-index:-1;-webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-size:cover; height:646px;font-size:1vmin; color:white; font-weight:bold;} .HeaderWhite span{position:relative; top:36%}.Lucy{font-weight:800;font-size:21px;} .LucyF{ font-weight:800;
font-size:12px;}@media (min-width:1597px){ .secondWhiteboxs{ font-size:15px!important;}}@media (max-width:800px){ .secondWhiteboxs h2{ left:32%!important; top:19%!important;} .wrappersecond{ grid-template-columns:initial!important;}.secondWhiteboxs{ font-size:1vmax!important;}}
.secondWhiteboxs{ color:black; text-align:left; background-color:rgba(255,255,255,0.85); filter:alpha(opacity=50); zoom:1; float:left; width:100%; height:20%; position:relative; top:-20%; display:block; z-index:1; font-weight:bold; font-size:calc(0.2vmax + 10px);}
.wrappersecond{ display:grid; grid-template-columns:repeat(auto-fit, minmax(100px, 3fr)); grid-gap:34px; margin:0 auto; max-width:1597px; margin-top:34px;}.wrappersecond div{ display:flex;}.wrappersecond div{ display:flex;}.secondWhiteboxs h2{ position:absolute; left:30%; top:19%; opacity:1!important; *filter:inherit;} .wrappersecond div:hover .FirstWhiteboxs{ opacity:0.6;}@media (min-width:800px) and (max-width:1000px){ .secondWhiteboxs{ font-size:calc(0.5vmax + 4px);}.wrapper div:hover .secondWhiteboxs{ opacity:0.95;}}</style><div class="page-body rte" style="max-width:1032px!important;margin:0 auto;">
<div class="page-body-content" style="max-width:1032px!important;"> <br><br> <div style="padding:10px;margin:0 auto;width:600px;display:block;" class="FoldorOverGrid sustain"><div class="FoldorOverGrid3x "><div class="item"><div class="othdiv12"><h1 class="count welcomef">397</h1>stories</div></div></div><div class="FoldorOverGrid3x "><div class="item"><div class="othdiv12"><h1 class=" count welcomef">45</h1>countries</div></div></div><div class="FoldorOverGrid3x "><div class="item"><div class="othdiv12"><h1 class="welcomef">1</h1>mission</div></div></div></div> <br style="clear:both;"><br />{{ 'MapIcon.svg' | asset_url | img_tag:'','mapicon'}} <br><div class="othdiv12"><h1 class="welcomef">Join the Yoga Map Project</h1></div> <hr/><br> <div class="Midtexts"> Have you used yoga for depression, for stress, or to help you find your purpose?<br> The Yoga Map is the place to share our yoga stories – our yoga "before and after" stories - our yoga transformation stories.<br> Please share your personal yoga journey and help your fellow humans discover the power of yoga! <br><br> #poweredbyyoga </div><br><br><div class="grid"><figure class="effect-oscar"> {{ 'YogaMap1.webp' | asset_url | img_tag:'',''}}
<figcaption>
<h2>Sam <br />Whitley</h2>
<p>Yoga gave me a way to manage my body...</p>
<a href="https://yogaclicks.com/blogs/yoga-map/a-yoga-story-for-waking-up-to-joy"></a>
</figcaption>
</figure><figure class="effect-oscar"> {{ 'YogaMap2.webp' | asset_url | img_tag:'',''}}
<figcaption>
<h2>Tara <br />Fletcher</h2>
<p>Yoga connects me to everything around me...</p>
<a href="https://yogaclicks.com/blogs/yoga-map/a-yoga-story-for-being-a-better-person"></a>
</figcaption>
</figure><figure class="effect-oscar"> {{ 'YogaMap3.webp' | asset_url | img_tag:'',''}}
<figcaption>
<h2>Happy <br />Yogini</h2>
<p>Im more healthy and im happier now...</p>
<a href="https://yogaclicks.com/blogs/yoga-map/a-yoga-story-for-natural-ways-to-treat-migraines-and-stress"></a>
</figcaption>
</figure>
<figure class="effect-oscar"> {{ 'YogaMap4.webp' | asset_url | img_tag:'',''}}
<figcaption>
<h2>Robin <br />Watkins-Davis</h2>
<p>Now, Yoga is the root of my life...</p>
<a href="https://yogaclicks.com/blogs/yoga-map/a-yoga-story-for-mental-health"></a>
</figcaption>
</figure><figure class="effect-oscar"> {{ 'YogaMap5.webp' | asset_url | img_tag:'',''}}
<figcaption>
<h2>Jéssica <br />Oliveira</h2>
<p> I feel inspired to learn every day...</p>
<a href="https://yogaclicks.com/blogs/yoga-map/a-yoga-story-for-knowing-that-you-can-do-it-all"></a>
</figcaption>
</figure><figure class="effect-oscar"> {{ 'YogaMap6.webp' | asset_url | img_tag:'',''}}
<figcaption>
<h2>Jane <br />Worrall</h2>
<p>Content, balanced, and the proud owner of Huzur Vadisi Yoga Retreat...</p>
<a href="https://yogaclicks.com/blogs/yoga-map/a-yoga-story-for-contentment-and-balance"></a>
</figcaption>
</figure><figure class="effect-oscar"> {{ 'YogaMap7.webp' | asset_url | img_tag:'',''}}
<figcaption>
<h2>Brian <br />Cooper</h2>
<p>I came to yoga because I really hate sport...</p>
<a href="https://yogaclicks.com/blogs/yoga-map/a-yoga-story-for-self-esteem-and-self-respect"></a>
</figcaption>
</figure><figure class="effect-oscar"> {{ 'YogaMap8.webp' | asset_url | img_tag:'',''}}
<figcaption>
<h2>Goldie | <br />Yogangster</h2>
<p>you’re sitting there and you go, ‘I’m home...</p>
<a href="https://yogaclicks.com/blogs/yoga-map/yoga-for-stability"></a>
</figcaption>
</figure><figure class="effect-oscar"> {{ 'YogaMap9.webp' | asset_url | img_tag:'',''}}
<figcaption>
<h2>Kevin <br />Brackley</h2>
<p>It's amazing how much of a mental lift yoga can give you...</p>
<a href="https://yogaclicks.com/blogs/yoga-map/a-yoga-story-for-healthy-ageing"></a>
</figcaption>
</figure> <figure class="effect-oscar"> {{ 'YogaMap10.webp' | asset_url | img_tag:'',''}}
<figcaption>
<h2>Jovander <br />Pacheco</h2>
<p>I became so aware of energy around me...</p>
<a href="https://yogaclicks.com/blogs/yoga-map/a-yoga-story-for-pure-passion"></a>
</figcaption>
</figure><figure class="effect-oscar"> {{ 'YogaMap11.webp' | asset_url | img_tag:'',''}}
<figcaption>
<h2>Trina <br />Solomon</h2>
<p>I continually strive to be the best version of myself...</p>
<a href="https://yogaclicks.com/blogs/yoga-map/a-yoga-story-for-inspiring-a-business"></a>
</figcaption>
</figure><figure class="effect-oscar"> {{ 'YogaMap12.webp' | asset_url | img_tag:'',''}}
<figcaption>
<h2>Emerald <br />Barcelona</h2>
<p>Thank goodness for yoga, I finally learned how to LET GO!..</p>
<a href="https://yogaclicks.com/blogs/yoga-map/a-yoga-story-for-letting-go"></a>
</figcaption>
</figure><figure class="effect-oscar"> {{ 'YogaMap13.webp' | asset_url | img_tag:'',''}}
<figcaption>
<h2>Panagiotis <br />Kontogiorgos</h2>
<p>You are creating new ways of looking at situations...</p>
<a href="https://yogaclicks.com/blogs/yoga-map/a-yoga-story-for-courage"></a>
</figcaption>
</figure><figure class="effect-oscar"> {{ 'YogaMap14.webp' | asset_url | img_tag:'',''}}
<figcaption>
<h2>Rose <br />Bird</h2>
<p>I rejected medications and turned to meditation...</p>
<a href="https://yogaclicks.com/blogs/yoga-map/a-yoga-story-for-eating-disorder-recovery"></a>
</figcaption>
</figure><figure class="effect-oscar"> {{ 'YogaMap15.webp' | asset_url | img_tag:'',''}}
<figcaption>
<h2>Neyu <br />Marques</h2>
<p>After a while I started to connect with myself...</p>
<a href="https://yogaclicks.com/blogs/yoga-map/a-yoga-story-for-loving-yourself-and-the-world"></a>
</figcaption>
</figure><figure class="effect-oscar"> {{ 'YogaMap16.webp' | asset_url | img_tag:'',''}}
<figcaption>
<h2>Julee <br />Yew-Crijns</h2>
<p>It keeps me sane and balanced...</p>
<a href="https://yogaclicks.com/blogs/yoga-map/a-yoga-story-for-staying-sane"></a>
</figcaption>
</figure><figure class="effect-oscar"> {{ 'YogaMap17.webp' | asset_url | img_tag:'',''}}
<figcaption>
<h2>Annika <br />Mattson</h2>
<p>I learn something new everyday...</p>
<a href="https://yogaclicks.com/blogs/yoga-map/a-yoga-story-for-staying-inspired"></a>
</figcaption>
</figure><figure class="effect-oscar"> {{ 'YogaMap18.webp' | asset_url | img_tag:'',''}}
<figcaption>
<h2>Anjali <br />Mehta</h2>
<p>I found my comfort and relaxation in Yoga...</p>
<a href="https://yogaclicks.com/blogs/yoga-map/a-yoga-story-for-understanding-that-the-universe-is-inside-of-you"></a>
</figcaption>
</figure> </div><hr style="clear:both;"><br><div class="othdiv13"><a href="https://beginnersyogaguide.com/YogaMap#MapTitle"><h1 class="welcomef"> See more inspiring stories and add your own to the map!</h1></div> {{ 'Nam.svg' | asset_url | img_tag:'','mapicon2'}} <br> </a><hr/><br></div>
</div><script type="text/javascript">setTimeout( function() { $('.count').each(function (){ $(this).prop('Counter',0).animate({ Counter:$(this).text()},{ duration:4000, easing:'linear', step:function (now){ $(this).text(Math.ceil(now));}});});}, 1000);</script>