{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<hiddenonapp></hiddenonapp>
<style>
    .AboutUSs {
        max-width: 1032px !important;
        font-weight: 100 !important;
        font-size: 14px !important
    }

    .FoldorOverGrid .FoldorOverGrid2-1x {
        display: block;
        width: 60%;
        float: left;
        padding: 20px
    }

    .FoldorOverGrid .FoldorOverGrid2-2x {
        display: block;
        width: 40%;
        float: left
    }

    .logos {
        padding: 15px
    }

    @media (max-width:769px) {
        .FoldorOverGrid .FoldorOverGrid2-1x {
            width: 100% !important;
        }

        .FoldorOverGrid4x {
            margin: 0 .5% 4% !important;
        }

        .AboutUSs {
            font-weight: 200 !important;
            font-size: 16px !important;
        }
    }

    @media (max-width:768px) {
        .HeaderWhite {
            display: none;
        }
    }

    @media (min-width:768px) {
        .hiddenman {
            display: none;
        }
    }

    .Midtexts {
        text-align: center;
        max-width: 1000px;
        margin: 0 auto;
    }

    .welcomef {
        font-size: 26px;
        font-weight: 800
    }

    .othdiv12 {
        text-align: center;
        margin: 0 auto;
        max-width: 630px;
        padding-bottom: 10px
    }

    .YogiGlobal {
        background: url({% comment %}ly_asset_replace_for_['about-us-lead-image.webp' | asset_url]_begin{% endcomment %}{% assign ly_asset = 'about-us-lead-image.webp' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}) no-repeat;
    }

    .YogiGlobalMid {
        background: url({% comment %}ly_asset_replace_for_['about-us-mid-image.webp' | asset_url]_begin{% endcomment %}{% assign ly_asset = 'about-us-mid-image.webp' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}) no-repeat;
    }

    .HeaderWhite span {
        font-size: 6.5vmin;
    }

    .HeaderWhite {
        text-align: center;
        z-index: -1;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 646px;
        font-size: 1vmin;
        color: white;
        font-weight: bold;
    }

    .HeaderWhite span {
        position: relative;
        top: 43%
    }

    .Lucy {
        font-weight: 800;
        font-size: 21px;
    }

    .LucyF {
        font-weight: 800;
        font-size: 12px;
    }

    @media (min-width: 1597px) {
        .secondWhiteboxs {
            font-size: 15px !important;
        }
    }

    @media (max-width: 800px) {
        .secondWhiteboxs h2 {
            left: 32% !important;
            top: 19% !important;
        }

        .wrappersecond {
            grid-template-columns: initial !important;
        }

        .secondWhiteboxs {
            font-size: 1vmax !important;
        }
    }

    .secondWhiteboxs {
        color: black;
        text-align: left;
        background-color: rgba(255, 255, 255, 0.85);
        filter: alpha(opacity=50);
        zoom: 1;
        float: left;
        width: 100%;
        height: 20%;
        position: relative;
        top: -20%;
        display: block;
        z-index: 1;
        font-weight: bold;
        font-size: calc(0.2vmax + 10px);
    }

    .wrappersecond {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 3fr));
        grid-gap: 34px;
        margin: 0 auto;
        max-width: 1597px;
        margin-top: 34px;
    }

    .wrappersecond div {
        display: flex;
    }

    .wrappersecond div {
        display: flex;
    }

    .secondWhiteboxs h2 {
        position: absolute;
        left: 30%;
        top: 19%;
        opacity: 1 !important;

        * {
            filter: inherit;
        }
    }

    .wrappersecond div:hover .FirstWhiteboxs {
        opacity: 0.6;
    }

    @media (min-width: 800px) and (max-width: 1000px) {
        .secondWhiteboxs {
            font-size: calc(0.5vmax + 4px);
        }

        ) .wrapper div:hover .secondWhiteboxs {
            opacity: 0.95;
        }
</style>

<div class="AboutUSs page-body " style="max-width:1200px!important">
    <div class="page-body-content" style="max-width:1200px!important">
        <div class="HeaderWhite YogiGlobal"><span><ly-as-15024367>OUR STORY</ly-as-15024367></span></div><img
            data-src="{% comment %}ly_asset_replace_for_['about-us-lead-image.webp' | asset_url]_begin{% endcomment %}{% assign ly_asset = 'about-us-lead-image.webp' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}" class="hiddenman"> <br /> <br />
        <div class="othdiv12">
            <h1 class="welcomef"><ly-as-15024368>Yoga book inspires yoga shop</ly-as-15024368></h1>
        </div><br /><br />
        <div class="Midtexts"> I was a burnt out corporate, working eighty hour weeks in advertising. Nothing in my life
            was working, so I decided to straighten myself out with six months in the yoga schools of India.
            <br /><br /> My quest to become a yoga goddess didn't go according to plan, and instead I came home with the
            idea for a book. A year later Random House published Yoga School Dropout. Suddenly I was getting emails from
            all over the world. As I shared my story readers shared theirs – how yoga had also woken them up to their
            creativity. </div><br /><br /> <br />
        <div class="othdiv12">
            <h1 class="welcomef"><ly-as-15024371>Making with sustainability in mind</ly-as-15024371></h1>
        </div><br /><br />
        <div class="Midtexts"> Whether they were making yoga pants, yoga mats or yoga gifts, they were informed by their
            knowledge of what yogis need, and by yogi values – making with sustainability in mind. <br /><br /> Feeling
            inspired by this expertise, and desire to make the world a better place, I decided to create a yoga shop –
            YogaClicks would be a gathering of the very best yogi makers from around the world. </div><br /><br /> <img
            data-src="{% comment %}ly_asset_replace_for_['about-us-mid-image.webp' | asset_url]_begin{% endcomment %}{% assign ly_asset = 'about-us-mid-image.webp' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}"> <br /> <br /> <br />
        <div class="othdiv12">
            <h1 class="welcomef"><ly-as-15024374>From yoga pants to the best yoga mats</ly-as-15024374></h1>
        </div><br /><br />
        <div class="Midtexts">It's a daily joy to work with these amazing yogis, most of whom are also yoga teachers.
            From sustainable fashion guru Natalia who makes yoga pants out of recycled coffee grounds, to Reiki healer
            Delphine, charging her gemstones with rays of light, to Anna – a mother of three who somehow finds the time
            to create beautifully patterned, super soft, eco yoga mats. <br /><br /> I hope all this creativity will act
            as a beacon of light to you, inspiring you to fulfil a yoga-inspired dream of your own. <br /><br /> With
            gratitude for the practice of yoga, and all my teachers. <br /> <br /> <span class="Lucy"> <ly-as-15024378>Lucy xx</ly-as-15024378> </span>
            <br /> <span class="LucyF"> <ly-as-15024379>YogaClicks Founder</ly-as-15024379> </span> </div><br /><br />
        <hr /> <br /><br />
        <div class="othdiv12">
            <h1 class="welcomef"><ly-as-15024380>DISCOVER MORE</ly-as-15024380></h1>
        </div>
        <div class="wrappersecond">
            <div> <a href="/pages/meet-your-makers">{% comment %}ly_asset_replace_for_['about-us-makers.png.webp' | asset_url | img_tag: 'MEET THE MAKERS', 'responsive']_begin{% endcomment %}{% assign ly_asset = 'about-us-makers.png.webp' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | img_tag: 'MEET THE MAKERS', 'responsive' }}{% comment %}ly_asset_replace_end{% endcomment %}<span
                        class="secondWhiteboxs Swoperimage">
                        <h2> <ly-as-15024381>MEET THE MAKERS</ly-as-15024381> </h2>
                    </span> </a> </div>
            <div> <a href="/pages/sustainability">{% comment %}ly_asset_replace_for_['about-us-sustainable.webp' | asset_url | img_tag: ' SUSTAINABILITY STORIES', 'responsive ']_begin{% endcomment %}{% assign ly_asset = 'about-us-sustainable.webp' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | img_tag: ' SUSTAINABILITY STORIES', 'responsive ' }}{% comment %}ly_asset_replace_end{% endcomment %}<span
                        class="secondWhiteboxs Swoperimage">
                        <h2> <ly-as-15024382>SUSTAINABILITY STORIES</ly-as-15024382> </h2>
                    </span> </a> </div>
        </div><br /><br /> <br /><br />
    </div>  </div>