{% section 'product-template' %}
<div class="hidden-xs">{% include 'EthicalProduct' %}</div>
<!-- {% section 'product-recommendations' %}
{% section 'recently-viewed' %} -->
{% include 'recently-viewed-products' %}
{% if collection %}
  <div class="text-center page-content page-content--bottom">
    <a href="{% if collection.handle == 'frontpage' %}/{% else %}{{ collection.url }}{% endif %}" class="btn btn--small return-link">
      {% include 'icon-arrow-left' %} {{ 'products.general.collection_return' | t: collection: collection.title }}
    </a>
  </div>
{% endif %}

<script>
  theme.productStrings = {
    addToCart: {{ 'products.product.add_to_cart' | t | json }},
    soldOut: {{ 'products.product.sold_out' | t | json }},
    unavailable: {{ 'products.product.unavailable' | t | json }}
  };


</script>
